*{
    box-sizing: border-box;
}

.login{
    width: 300px;
    border: solid 1px gray;
    margin: auto;
    padding: 10px;
}

.login div{
    margin:20px;
}

main {
    width: 80%;
    border: solid 1px gray;
    display: flex;
    margin: auto;
    min-height: 100vh;
}

main nav{
    border-right: solid 2px gray;
    width: 20%;
    background-color: beige;
}

main .content{
    background-color: aquamarine;
    width: 80%;
}