nav{
    padding: 10px;
    width: 65%;
    border: solid 1px black;
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.home{
    padding: 10px;
    width: 65%;
    border: solid 1px black;
    margin: auto;
    margin-top: 10px;
    min-height: 300px;
}